{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>DELETE ACCOUNT</h1>
    <div class="warning">
    <p>WARNING! You are about to delete your account and all the content associated with this account! The account deletion is irreversible!</p>
    </div>
    <div class="form-container">
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <a id="cancel-button" href="{% url 'edit-user' pk=user.pk %}">CANCEL</a>
            <button>DELETE ACCOUNT</button>
        </form>
    </div>
{% endblock %}