{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        {% if not account_complete %}
            <p class="site-note"><i class="fa-solid fa-triangle-exclamation"></i>
                All fields must be set for full access to site features!</p>
        {% else %}
            <p class="site-note green"><i class="fa-solid fa-user"></i>
                Your profile is all set. You have full access.</p>
        {% endif %}

        <form method="post">
            {{ form }}
            {% csrf_token %}
            {% if not seller_pk %}
                <div class="form-button-row">
                    <button>Update Profile</button>
                    <a href="{% url 'password-change' %}" title="Change Password"><i class="fa-solid fa-key"></i> Change Password</a>
                    <a href="{% url 'seller-create' %}" title="Profile Details"><i class="fa-solid fa-store"></i> Apply for Seller</a>
                </div>
            {% endif %}
        </form>
        <p class="delete-account-link"><a href="{% url 'delete-account' pk=user.pk %}"><i class="fa-solid fa-trash"></i> Delete Account</a></p>
    </div>
{% endblock %}