{% extends 'base.html' %}
{% load static %}

{% block content %}
   
    <h1>Update Product</h1>
    <section class="product-details-section">
        <div class="product-details-left">
            <img src="{{ object.photo.url }}" alt="{{ object.name }}">
            <p>{{ object.name }}</p>
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button>Update Product</button>
            </form>
        </div>
{% endblock %}