{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>{{ object.name }}</h1>
    <section class="product-details-section">

        <div class="product-details-left">
            <img
                    src="{% static 'mediafiles/user-product-pk.jpg' %}"
                    alt="{{ product.name }}"
            />
        </div>

        <div class="product-details-right">
            <p>Seller: {{ product.owner.name }}</p>
            <p>Country: {{ product.owner.account.profile.country }}</p>
            <p>Category: <a href="#" title="Category: Meat Products">{{ product.category }}</a></p>
            <p>Price: &euro;{{ product.price }}/{{ product.qty_units }}</p>
            
            <a class="purchase-button" href="{% url 'seller-details' pk=product.owner.pk %}" title="{{ product.owner.name }}">
                Contact Seller to Purchase</a>

            <div class="product-description">
                <p><strong>PRODUCT DESCRIPTION:</strong></p>
                <p>{{ product.description }}</p>
            </div>
        </div>


    </section>
{% endblock %}