.dashboard {
    margin-bottom: 1em;
}
.dashboard-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}
.dashboard-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    background-color: black;
    transition: 0.3s ease;
}
.dashboard-menu a:hover {
    color: white;
    text-decoration: none;
    background-color: #565656;
}