header {
    width: 100%;
    min-height: 10vh;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    background-color: rgb(101, 139, 56);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 800px) {
    header {
        padding: 1em 3em;
    }
}

.logo {
    width: 7em;
    height: 7em;
}

.header-right {
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    gap: 1em;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.8em;
}

.header-right a,
.header-right button {
    display: block;
    padding: 0.2em 0.5em;
    color: rgb(12, 70, 47);
    background-color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border: 1px solid rgb(12, 78, 53);
    border-radius: 0.4em;
    transition: 0.3s ease;
}

.header-right a:hover,
.header-right button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(255, 140, 8);
    border-color: rgb(255, 140, 8);
    cursor: pointer;
}