.headings {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}
.headings p {
    width: 50%;
    padding: 0.4em 0.6em;
    color: rgb(2, 109, 64);
    border: 1px solid rgb(138, 221, 163);
    border-radius: 0.4em;
}

.how-it-works-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    margin-bottom: 2em;
}
.how-it-works-block {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-shrink: 2;
    padding: 0 1em 1em 1em;
    border-radius: 0.4em;
    align-items: flex-start;
    color: rgb(255, 255, 255, 0.8);
}
.how-it-works-block h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0.4em;
}
.customers {
    background-color: #2e601e;
    background-image: linear-gradient(to right top, #05410b, #155c1b, #288836);
}
.farmers {
    background-color: #7c490c;
    background-image: linear-gradient(to right top, #412403, #7c490c, #927e2d);
}
.latest-products-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
.latest-product-box {
    font-size: 0.9em;
    color: #666666;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    border: 1px solid orange;
    border-radius: 0.4em;
    background-color: white;
    padding: 1.5em 0 0.5em 0;
}
@media (min-width: 600px) {
    .latest-products-wrapper {
        flex-direction: row;
    }
    .latest-product-box {
        width: 25%;
    }
}
.latest-product-box h3 {
    margin: 0;
    font-size: 1.2em;
    color: brown;
}
.latest-product-img-wrapper {
    object-fit: cover;
    margin: 0 auto;
    position: relative;
}
.latest-product-img-wrapper img {
    object-fit: cover;
    width: 14.5em;
    height: 14.5em;
    border-radius: 0.4em;
    overflow: hidden;
    transition: 0.3s ease;
    border: 1px solid lightgray;
}
.latest-product-img-wrapper img:hover {
    transform: scale(1.06);
}