main {
    padding: 1em 0.5em;
    max-width: 1200px;
    min-height: 62vh;
    margin: 0 auto;
}
main p {
    max-width: 70ch;
  }
.offers-section {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offers-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
}
.offer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6em 0.5em 0.3em 0.5em;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0.8em;
    width: 280px;
    font-size: 0.9em;
}
.regular {
    background-color: white;
}
.special {
    background-color: #f6ffec;
    border-color: orange;
}
.offer-wrapper h4 {
    text-align: center;
    font-weight: 400;
    margin: 0.5em 0;
    color: brown;
}
.offer-img-wrapper {
    object-fit: cover;
    margin: 0 auto;
    position: relative;
}
.offer-badge {
    position: absolute;
    z-index: 100;
    padding: 0.5em 0.4em 0.4em 0.4em;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    line-height: 1;
}
.discount {
    top: 0.5em;
    left: 0.5em;
    background-color: rgb(255, 129, 3);
    border: 2px solid white;
}
.bio {
    top: 0.5em;
    right: 0.5em;
    background-color: rgb(1, 204, 1);
    border: 2px solid white;
}
.offer-img-wrapper img {
    object-fit: cover;
    width: 14.5em;
    height: 14.5em;
    border-radius: 0.4em;
    overflow: hidden;
    transition: 0.3s ease;
}
.offer-img-wrapper img:hover {
    transform: scale(1.06);
}
.offer-details {
    width: 100%;
    font-weight: 400;
    margin-top: 0.4em;
    padding: 0.3em 0.8em;
    border-radius: 0.4em;
}
.offer-details a {
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
}
.offer-details a:hover {
    color: rgb(17, 96, 187);
}
.form-container {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 0.9em;
    width: fit-content;
    margin: 2em auto;
}
.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-container form label {
    font-weight: 400;
    color: #757575;
}
.form-container form input,
.form-container form textarea,
.form-container form select,
.form-container form button {
    width: 100%;
    display: block;
    padding: 0.4em 0.9em;
    border: 1px solid green;
    border-radius: 0.4em;
    outline: none;
}
.form-container form button {
    width: fit-content;
    color: green;
    background-color: #f0ffe9;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 1em 0;
}
.form-container form button:hover {
    background-color: #e1ffc2;
}
.site-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
}
.site-note {
    margin: 1.5em 0;
    color: orange;
}
.site-note i {
    font-size: 1.5em;
    margin-right: 0.2em;
}
.green {
    color: green;
}
.messages {
    width: fit-content;
    margin: 1em auto;
    padding: 1em 2em;
    border: 2px solid orange;
    border-radius: 0.5em;
}
.pagination {
    padding: 2em 0 0.5em 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}
.step-links {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    justify-content: center;
}
.current {
    color: green;
}