nav {
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 5vh;
}

nav a {
    display: inline-block;
    padding: 0.3em 0.8em 0.2em 0.8em;
    text-decoration: none;
    letter-spacing: 0.05em;
    background-color: #204606;
    border-top: 1px solid #204606;
    color: white;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    transition: 0.3s ease;
}
nav a:hover {
    border-top: 1px solid rgb(160, 252, 2);
    background-color: #5a8516;
}