.product-box-title {
    line-height: 1.5em;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;
}

.product-details-section {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin: 1em 0;
}

.product-details-left {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product-details-left img {
    border: 1px solid lightgray;
    border-radius: 0.4em;
    overflow: hidden;
}

.product-details-right {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.product-description {
    margin-top: 1em;
    max-width: 66ch;
    text-wrap: balance;
}

.product-list-table {
    border-collapse: separate;
    border-spacing: 3px;
}

.product-list-table thead {
    text-align: center;
    background-color: black;
    color: white;
}

.product-list-table td {
    font-size: 0.8em;
    padding: 0.4em 1.2em;
    margin: 5px;
    text-align: center;
}
.product-list-table td:nth-child(1) {
    text-align: left;
}
.product-list-table td:nth-child(2) img {
    width: 60px;
}
.product-list-table td i {
    font-size: 1.1em;
}

.product-list-table td:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-list-table tbody tr:nth-child(odd) {
    background-color: #e0ffe0;
    color: black;
}

.product-list-table tbody tr:nth-child(even) {
    background-color: #c4ffc4;
    color: black;
}
.add-product-button {
    display: block;
    width: fit-content;
    padding: 0.3em 0.6em;
}
.product-details-seller-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}
.reviews-container {
    margin: 1em 0;
}
.review-box {
    margin: 0.5em 0;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    border: 1px solid lightgreen;
    border-radius: 0.4em;
}