.user-reviews-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    flex-wrap: wrap;
}
.user-review {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 16%;
    font-size: 0.9em;
    flex-shrink: 2;
    color: grey;
    padding: 0.5em;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0.4em;
}
.user-review img:hover {
    opacity: 0.8;
}
.user-review p:nth-of-type(1) {
    text-align: center;
    font-weight: 700;
}
.user-review p:nth-of-type(2) {
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.user-review p:nth-of-type(3) {
    font-style: italic;
    padding-top: 0.5em;
}
