@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

html {
  font-family: "Gelasio", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2c2c;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media (min-width: 420px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
body {
  background-color: #f3fae7;
  width: 100%;
}

::placeholder {
  font-weight: 300;
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
  color: rgb(47, 117, 0);
  margin-top: 1em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
  color: rgb(49, 49, 49);
  margin-top: 1em;
  margin-bottom: 0.4em;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: rgb(49, 49, 49);
  text-align: left;
}
h4 {
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  color: rgb(49, 49, 49);
}
h5 {
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(49, 49, 49);
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}
@media (min-width: 960px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
}
select {
  color: #666666;
  border-radius: 0.4em;
  padding: 0.1em 0.2em;
}
input,
textarea {
  border-radius: 0.2em;
  outline: none;
}
input:focus,
textarea:focus {
  border: 1px solid orange;
}
ul {
  margin-block-start: 0.4em;
  padding-inline-start: 2.2ch;
  list-style-type: disc;
}
