{% extends 'base.html' %}

{% block content %}
   
    <h1>Delete review</h1>
    <section class="product-details-section">
        <div class="product-details-left">
            <img src="{{ object.product.photo.url }}" alt="update product">
            <p>{{ object.product.name }}</p>
        </div>

        <div class="form-container">
            <p>Are you sure you want to delete your review for product <strong>{{ object.product.name }}</strong>,<br>
                offered by {{ object.product.owner.profile }}?<br>This action is irreversible!</p>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button>DELETE REVIEW</button>
                <a id="cancel-button" href="{% url 'list-reviews' %}">CANCEL</a>
            </form>
        </div>

    </section>
{% endblock %}