@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");


:root {
  --main-dark-color: #fec600;
  --main-dark-color-50: #fcf0c5;
  --footer-bg-color: #fefcf5;
  --promo-bg-color: #fff9ef;
  --promo-fg-color: #000000;
  --promo-title-color: #ff6803;
  --discount-percent-box: #ff9900;
  --main-text-link: #145cad;
  --main-text-link-hover: #ec8a19;
  --black: #000000;
  --grey: #a1a1a1;
  --white: #ffffff;
  --footer-links: #786c47;
}

html {
  font-family: "Open Sans", Verdana, sans-serif;
  font-size: 17px;
  color: #666666;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media (min-width: 420px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 19px;
  }
}
body {
  background-color: #aec582;
}
::placeholder {
  font-weight: 300;
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
  color: black;
  margin-top: 1em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 1.4em;
  font-weight: 300;
  color: black;
  margin-top: 1em;
  margin-bottom: 0.4em;
}
h3 {
  font-size: 1.8em;
  font-weight: 300;
  color: black;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.4em;
}
h4 {
  font-size: 1.4em;
  font-weight: 300;
  color: black;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 1.2em;
  font-weight: 400;
  color: #666666;
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}
@media (min-width: 960px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
}
p {
  margin-bottom: 1.1em;
}
select {
  color: #666666;
  border-radius: 0.4em;
  padding: 0.1em 0.2em;
}
input,
textarea {
  border-radius: 0.2em;
  outline: none;
}
input:focus,
textarea:focus {
  border: 1px solid orange;
}
ul {
  margin-block-start: 0.4em;
  padding-inline-start: 2.2ch;
  list-style-type: disc;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.4em;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}