{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>European Farmer's Market</title>
    <meta
            name="description"
            content="Find good food in the farmers market platform."
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
<header>
    <a href="{% url 'index' %}" title="Farmers Market - Farm Products Marketplace"
    ><img
            class="logo"
            src="{% static 'img/fm-logo.png' %}"
            alt="logo"
    /></a>
    <div class="header-right">

        <section class="site-stats">
            Site Stats: {{ number_of_users }} users | {{ number_of_sellers }} farmers | {{ number_of_products }} offers
        </section>

        {% if request.user.profile %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <div class="header-links">
                <a href="{% url 'edit-user' pk=request.user.pk %}" title="Profile Details">
                    <i class="fa-solid fa-user"></i> {{ request.user.email }}</a>
            </div>

        {% else %}
            <div class="header-links">
                <a href="{% url 'login' %}" title="Login">Login</a>
                <a href="{% url 'register' %}" title="Create Account">Register</a>
            </div>
        {% endif %}

    </div>
</header>

<nav>
    <div class="nav-wrapper">
        <a href='{% url 'index' %}' title='Farmers Market home'><i class="fa-solid fa-house-chimney"></i></a>
        <a href='{% url 'products' %}' title='Products offered'>Products</a>
        <a href='{% url 'sellers' %}' title='Registered Farmers'>Farmers</a>
        <a href="{% url 'topics' %}" title="">Help</a>
        {% if seller_pk %}
            <a class="seller-button" href="{% url 'seller-details' pk=seller_pk %}" title="">My Farmer Profile</a>
            <a class="seller-button" href="{% url 'seller-products' pk=seller_pk %}" title="">My Products</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="seller-button" href="{% url 'list-reviews' %}" title="">My Reviews</a>
        {% endif %}
    </div>
</nav>

<main>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="footer-links">
        <a href="{% url 'terms' %}">Terms of Usage</a> | <a href="{% url 'contact' %}">Contact Admins</a>
    </div>
    <p>© 2024 The Farmer's Market Project</p>
    <p>website crafted by: Nikolay Dimitrov</p>
</footer>

</body>
</html>
