{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Farmer's Market</title>
        <meta
            name="description"
            content="Find good food in the farmers market platform."
        />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header style="background-image: url({% static 'img/header-bg.webp' %})">
            <a href="{% url 'index' %}" title="Farmers Market - Farm Products Marketplace"
                ><img
                    class="logo"
                    src="{% static 'img/fm-logo.png' %}"
                    alt="logo"
            /></a>
            <div class="header-right">
                <p>USER: Guest</p>
                <div class="header-links">
                    <a href="#" title="Login">Login</a>
                    <a href="#" title="Create Account">Register</a>
                    <a href="#" title="Profile Details">My Profile</a>
                </div>
                <p>Login to see the FM special offers.</p>
            </div>
        </header>
        <nav>
            <a href='{% url 'index' %}' title='Farmers Market home'><i class="fa-solid fa-house-chimney"></i></a>
            <a href='#' title='Offers'>Offers</a>
            <a href='#' title='Special Offers'>Special Offers</a>
            <a href='#' title='Sellers'>Sellers</a>
            <a href='#' title='Search'>Search</a>
        </nav>
        <main>
            <h1>{{ h1 }}</h1>
            <div class="headings">
                <p>
                    <strong>CLIENTS:</strong> Browse the offers to find your favorite taste. Offers from EU only, quality guaranteed by our highly rated farmers.
                </p>
                <p>
                    <strong>FARMERS:</strong> Sell your products to connaisseurs in the EU. Demanding restaurants and gourmet people need your high quality products!
                </p>
            </div>
            <h2>{{ h2 }}</h2>
            <section class="offers-wrapper">
                <div class="offer-wrapper">
                    <h3>Pork Salami</h3>
                    <div class="offer-img-wrapper">
                        <a href="#" title="Pork Salami - Marco Barculli">
                        <img
                            src="{% static 'mediafiles/user-product-pk.jpg' %}"
                            alt="Pork Salami - Marco Barculli"
                        />
                        </a>
                    </div>
                    <div class="offer-details">
                        <p>Seller: <a href="#" title="Farmer Marco Barculli">Marco Barculli</a></p>
                        <p>Country: <strong>Italy</strong></p>
                        <p>Category: <a href="#" title="Category: Meat Products">Meat Products</a></p>
                        <p>Price: <strong>€29.00/kg</strong></p>
                    </div>
                </div>

                <div class="offer-wrapper">
                    <h3>Pickled Garlic</h3>
                    <div class="offer-img-wrapper">
                        <img
                            src="{% static 'mediafiles/pickled-garlic.jpg' %}"
                            alt="product-title"
                        />
                    </div>
                    <div class="offer-details">
                        <p>Seller: <strong>Jean Renaud</strong></p>
                        <p>Country: <strong>France</strong></p>
                        <p>Category: <strong>Pickled Vegetables</strong></p>
                        <p>Price: <strong>€70.00/kg</strong></p>
                    </div>
                </div>

                <div class="offer-wrapper">
                    <h3>Tomme de Brebis</h3>
                    <div class="offer-img-wrapper">
                        <img
                            src="{% static 'mediafiles/tomme-de-brebis.jpg' %}"
                            alt="product-title"
                        />
                    </div>
                    <div class="offer-details">
                        <p>Seller: <strong>Guillaume Gadou</strong></p>
                        <p>Country: <strong>France</strong></p>
                        <p>Category: <strong>Milk Products</strong></p>
                        <p>Price: <strong>€45.00/kg</strong></p>
                    </div>
                </div>

                <div class="offer-wrapper">
                    <h3>Fresh Fennel</h3>
                    <div class="offer-img-wrapper">
                        <img
                            src="{% static 'mediafiles/fennel.jpg' %}"
                            alt="product-title"
                        />
                        <div class="offer-badge">
                            BIO
                        </div>
                    </div>
                    <div class="offer-details">
                        <p>Seller: <strong>Emilio Zafra Rojas</strong></p>
                        <p>Country: <strong>Spain</strong></p>
                        <p>Category: <strong>Vegetables</strong></p>
                        <p>Price: <strong>€23.00/kg</strong></p>
                    </div>
                </div>

            </section>
        </main>
        <footer>
            <p>© 2024 The Farmer's Market Project</p>
            <p>website crafted by: Nikolay Dimitrov</p>
        </footer>
    </body>
</html>
