{% extends 'base.html' %}

{% block content %}

    <h1>European Farmer's Market</h1>
    <h2>Pure and tasty farmer's food and other farm products from all across Europe.</h2>
    <div class="headings">
        <p>
            <strong>CLIENTS:</strong> Browse the offers to find your favorite taste. Offers from EU only, quality
            guaranteed by our highly rated farmers.
        </p>
        <p>
            <strong>FARMERS:</strong> Sell your products to connoisseurs in the EU. Gourmet restaurants and
            smart people need your high quality products!
        </p>
    </div>

{% endblock %}