{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="dashboard">
    
        {% if not object.approved %}
            <h1>DASHBOARD</h1>
            <p>Your profile is <strong>PENDING APPROVAL</strong>.</p>
            <p>You cannot use the DASHBOARD until your profile is approved.</p>
        {% else %}
            <div class="seller-header-wrapper-dash">
            <a href="{% url 'seller-details' pk=object.pk %}">
                <img class="photo-round-small" src="{{ object.photo.url }}" alt="{{ object.name }}">
            </a>
            <div>
                <h1>FARMER DASHBOARD</h1>
                <p>Your profile is <strong>APPROVED</strong>. You can publish your offers.</p>
            </div>
        </div>
            
            <div class="dashboard-menu">
                <a href="{% url 'seller-details' pk=seller_pk %}" title="">My Profile</a>
                <a href="{% url 'create-product' %}" title="">Add Offer</a>
                <a href="#" title="">Contact Admins</a>
                <a href="#" title="">Help</a>
            </div>
        {% endif %}

    </section>

{% endblock %}