{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated and seller_pk == object.pk %}
        <div class="seller-header-wrapper">
            <h1>Edit Farmer Details</h1>
            <img class="photo-round-small" src="{{ object.photo.url }}" alt="{{ object.name }}">
            <p>Farmer: <strong>{{ object.name }}</strong></p>
        </div>

        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button>Update</button>
            </form>
        </div>
    {% else %}
        <div class="seller-header-wrapper">
            <h1>Access Denied</h1>
        </div>
        <p>You can edit only your own profile!</p>
    {% endif %}

{% endblock %}