{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>Apply for Farmer's Market Seller</h1>

    {% if seller_pk %}
        <h2>You've already applied for a seller.</h2>
        <p>Seller applications must be approved by the site admins.</p>

    {% else %}
        <p>The info you provide in this form will be visible to registered users only. 
            Provide detailed and correct data, so customers could reach you easily.</p>
        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button>Create Seller</button>
            </form>
        </div>
    {% endif %}


{% endblock %}